@{
    ViewBag.Title = @Resources.Resource.LoginFailure;
}

<hgroup>
    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif">@ViewBag.Title.</h2>
    <h3 class="text-danger" style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.UnsuccessfulLoginWithService</h3>
</hgroup>
