
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "OtherExpensesGrid";
        settings.CallbackRouteValues = new { Controller = "St_BranchAccountH", Action = "GridViewOtherExpenses" };
        settings.SettingsEditing.BatchEditSettings.KeepChangesOnCallbacks = DefaultBoolean.False;
        settings.SettingsEditing.Mode = GridViewEditingMode.Batch;
        settings.SettingsCommandButton.NewButton.Text = "<span class='btn btn-success btn-sml btn-icon-anim ' style='padding: 4px;'><i class='fa fa-plus-circle' ></i></span>";
        settings.SettingsCommandButton.DeleteButton.Text = "<span class='btn btn-danger btn-sml btn-icon-anim  ' style='padding: 4px;'><i class='fa fa-minus-circle'  ></i></span>";
        settings.SettingsEditing.BatchEditSettings.HighlightDeletedRows = false;
        settings.SettingsEditing.BatchEditSettings.ShowConfirmOnLosingChanges = false;
        settings.ClientSideEvents.BatchEditConfirmShowing = "function(s, e){ e.cancel = true; }";
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.SettingsEditing.ShowModelErrorsForEditors = true;
        settings.ClientSideEvents.BeginCallback = "OnBeginCallbackOtherExpenses";
        settings.ClientSideEvents.EndCallback = "OnEndCallbackOtherExpenses";
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Hidden;
        settings.Settings.ShowPreview = false;
        settings.Settings.ShowFilterRowMenu = false;
        settings.Settings.ShowTitlePanel = false;
        if (Resources.Resource.CurLang == "Arb")
        {
            settings.Styles.Header.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        }
        else
        {
            settings.Styles.Header.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        }
        settings.SettingsEditing.NewItemRowPosition = GridViewNewItemRowPosition.Bottom;
        settings.CommandColumn.ShowDeleteButton = true;
        settings.CommandButtonInitialize = (s, e) =>
        {
            if (e.ButtonType == ColumnCommandButtonType.Update || e.ButtonType == ColumnCommandButtonType.Cancel ||
            e.ButtonType == ColumnCommandButtonType.Delete)
                e.Visible = false;
        };
        settings.Theme = "iOS";
        settings.KeyFieldName = "OtherExpenseAccountRowNumber";
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = false;
        settings.CommandColumn.ShowNewButton = true;
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsBehavior.AllowSort = false;
        settings.SettingsBehavior.AllowDragDrop = false;
        settings.ClientSideEvents.Init = "OnInitOtherExpenses";
        settings.ClientSideEvents.BatchEditEndEditing = "Grid_BatchEditEndEditingOtherExpenses";
        settings.ClientSideEvents.BatchEditStartEditing = "Grid_BatchEditStartEditingOtherExpenses";
        settings.ClientSideEvents.BatchEditRowDeleting = "Grid_DeleteRowEventOtherExpenses";
        settings.KeyboardSupport = true;
        settings.CommandButtonInitialize = (s, e) =>
        {
            if (e.ButtonType == ColumnCommandButtonType.Update || e.ButtonType == ColumnCommandButtonType.Cancel)
                e.Visible = false;
        };

        settings.Columns.Add(column =>
        {
            column.FieldName = "OtherExpenseAccountNumber";
            column.Width = 200;
            column.Caption = Resources.Resource.OtherExpenseAccountNumber;
            column.Settings.ShowEditorInBatchEditMode = true;
            column.Settings.AllowHeaderFilter = DefaultBoolean.False;
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
            column.EditorProperties().TextBox(txtbox =>
            {
                txtbox.ClientSideEvents.Init = "AutoCompleteOtherExpenses";
            });

        });
        settings.Columns.Add(column =>
        {
            column.Width = 500;
            column.FieldName = "OtherExpenseAccountName";
            column.Caption = Resources.Resource.AccountName;
            column.ReadOnly = true;
            column.Settings.ShowEditorInBatchEditMode = false;
            column.Settings.AllowHeaderFilter = DefaultBoolean.False;
            column.Settings.AllowAutoFilter = DefaultBoolean.False;
        });
//settings.InitNewRow += (s, e) =>
//{
//    e.NewValues["Credit"] = 0;
//};
//settings.CustomJSProperties = (s, e) =>
//{
//    if (ViewData["ErrorFlag"] != null)
//        e.Properties.Add("cpErrorFlag", (bool)ViewData["ErrorFlag"]);
//};
});
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()


